<div>
    <div class="container padding-bottom-3x mb-1">
        <!-- Shopping Cart-->
        <div class="table-responsive shopping-cart">
            <h2 class="heading-section text-center mb-4">Purchase history</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th class="text-center">Quantity</th>
                        <th class="text-center">Subtotal</th>
                        <th class="text-center">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each cartProductsDetail}}
                    <tr>
                        <td>
                            <div class="product-item">
                                <a class="product-thumb" href="/products/{{this.product.productid}}"><img
                                        src="{{this.product.image.[0]}}" alt="Product"></a>
                                <div class="product-info">
                                    <h4 class="product-title"><a href="#">{{this.product.productname}}</a></h4>
                                    <span><em>Size: </em> {{this.size}}</span>
                                    <span><em>Color: </em>{{this.product.color}}</span>
                                </div>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="product-quantity-wrapper justify-content-center">
                                <span class="product-quantity" name="{{this.product.productid}}"
                                    data-count="{{this.amount}}">{{this.amount}}</span>
                            </div>
                        </td>
                        <td class="text-center text-lg text-medium">${{this.product.price}}</td>
                        <td class="text-center text-lg text-medium totalItemCost"
                            id="{{this.product.productid}}and{{this.size}}">${{mul this.amount this.product.price}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div class="shopping-cart-footer">
            <div class="column"><a class="btn btn-outline-secondary" href="/products"><i
                        class="icon-arrow-left"></i>&nbsp;Back to Shopping</a></div>
        </div>
    </div>
</div>