<div class="row gx-4 gy-4" id="products">
    {{#each products}}
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="product-card">
            <div class="product-card-img">
                <img src="{{image.[0]}}" alt="">
                <img src="{{image.[1]}}" alt="">
            </div>
            <div class="product-card-info">
                <div class="product-btn">
                    <a href="/products/{{productid}}" class="btn-flat btn-hover btn-shop-now">shop
                        now</a>
                    <button class="btn-flat btn-hover btn-cart-add">
                        <i class="fas fa-shopping-cart"></i>
                    </button>
                    <button class="btn-flat btn-hover btn-cart-add">
                        <i class="fas fa-heart"></i>
                    </button>
                </div>
                <div class="product-card-name">
                    {{productname}}
                </div>
                <div class="product-card-price">
                    {{!-- <span><del>$${e.old_price}</del></span> --}}
                    <span class="curr-price">$${{price}}</span>
                </div>
            </div>
        </div>
    </div>
    {{else}}
    <p>No products available</p>
    {{/each}}
</div>