<!-- products content -->
<div class="bg-main">
    <div class="container">
        <div class="box">
            <div class="breadcumb">
                <a href="/">home</a>
                <span><i class="fas fa-angle-double-right"></i></span>
                <a href="/products">all products</a>
            </div>
        </div>
        <div class="box">
            <div class="row">
                <div class="col-xl-3 filter-col" id="filter-col">
                    <div class="box filter-toggle-box">
                        <button class="btn-flat btn-hover" id="filter-close">close</button>
                    </div>
                    <div class="box">
                        <span class="filter-header">
                            Categories
                        </span>
                        <ul class="filter-list">
                            <li><a href="?brand=nike">Nike</a></li>
                            <li><a href="?brand=adidas">Adidas</a></li>
                            <li><a href="?brand=ananas">Ananas</a></li>
                            <li><a href="?brand=balenciaga">Balenciaga</a></li>
                        </ul>
                    </div>
                    <div class="box">
                        <span class="filter-header">
                            Price
                        </span>
                        <div class="price-range">
                            <input type="text" class="price-range-start" value="0">
                            <span>-</span>
                            <input type="text" class="price-range-end" value="1000">
                        </div>
                    </div>
                    {{!-- <div class="box">
                        <ul class="filter-list">
                            <li>
                                <div class="group-checkbox">
                                    <input type="checkbox" id="status1">
                                    <label for="status1">
                                        On sale
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="group-checkbox">
                                    <input type="checkbox" id="status2">
                                    <label for="status2">
                                        In stock
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="group-checkbox">
                                    <input type="checkbox" id="status3">
                                    <label for="status3">
                                        Featured
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div> --}}
                    <div class="box">
                        {{!-- <span class="filter-header">
                            Brands
                        </span>
                        <ul class="filter-list">
                            <li>
                                <div class="group-checkbox">
                                    <input type="checkbox" id="remember1" checked="checked">
                                    <label for="remember1">
                                        Nike
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="group-checkbox">
                                    <input type="checkbox" id="remember2">
                                    <label for="remember2">
                                        adidas
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="group-checkbox">
                                    <input type="checkbox" id="remember3">
                                    <label for="remember3">
                                        ananas
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="group-checkbox">
                                    <input type="checkbox" id="remember4">
                                    <label for="remember4">
                                        Fila
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="group-checkbox">
                                    <input type="checkbox" id="remember5">
                                    <label for="remember5">
                                        Balenciaga
                                    </label>
                                </div>
                            </li> --}}
                        </ul>
                    </div>
                    <div class="box">
                        <span class="filter-header">
                            Colors
                        </span>
                        <ul class="filter-list">
                            <li>
                                <div class="group-radio">
                                    <input type="radio" value="red" id="box-red" name="color-check">
                                    <label for="box-red">
                                        Red
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="group-radio">
                                    <input type="radio" value="blue" id="box-blue" name="color-check">
                                    <label for="box-blue">
                                        Blue
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="group-radio">
                                    <input type="radio" value="white" id="box-white" name="color-check">
                                    <label for="box-white">
                                        White
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="group-radio">
                                    <input type="radio" value="black" id="box-black" name="color-check">
                                    <label for="box-black">
                                        Black
                                    </label </div>
                            </li>
                            <li>
                                <div class="group-radio">
                                    <input type="radio" value="green" id="box-green" name="color-check">
                                    <label for="box-green">
                                        Green
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="group-radio">
                                    <input type="radio" value="" id="box-all" name="color-check" checked>
                                    <label for="box-all">
                                        All
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <button id="filter-products" type="button" class="btn btn-secondary ms-4">Lọc sản phẩm</button>
                    {{!-- <div class="box">
                        <span class="filter-header">
                            customer review
                        </span>
                        <ul class="filter-list">
                            <div class="filter-item">
                                <input type="radio" id="star-five" name="rating" class="rating" value="five-star"
                                    checked>
                                <label for="star-five"><span class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </span>
                                </label>
                            </div>
                            <div class="filter-item">
                                <input type="radio" id="star-four" name="rating" class="rating" value="four-star">
                                <label for="star-four"><span class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </span>
                                </label>
                            </div>
                            <div class="filter-item">
                                <input type="radio" id="star-three" name="rating" class="rating" value="three-star">
                                <label for="star-three"><span class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </span>
                                </label>
                            </div>
                            <div class="filter-item">
                                <input type="radio" id="star-two" name="rating" class="rating" value="two-star">
                                <label for="star-two"><span class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </span>
                                </label>
                            </div>
                            <div class="filter-item">
                                <input type="radio" id="star-one" name="rating" class="rating" value="one-star">
                                <label for="star-one"><span class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </span>
                                </label>
                            </div>
                        </ul>
                    </div> --}}
                </div>
                <div class="col-xl-9 col-lg-12" id="products-content">
                    <div class="box filter-toggle-box">
                        <button class="btn-flat btn-hover" id="filter-toggle">filter</button>
                    </div>
                    <div class="box">
                        <div class="row gx-4 gy-4" id="products">
                            {{#each products}}
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="product-card">
                                    <div class="product-card-img">
                                        <img src="{{image.[0]}}" alt="">
                                        <img src="{{image.[1]}}" alt="">
                                    </div>
                                    <div class="product-card-info">
                                        <div class="product-btn">
                                            <a href="/products/{{productid}}"
                                                class="btn-flat btn-hover btn-shop-now">shop
                                                now</a>
                                            <button class="btn-flat btn-hover btn-cart-add" value="{{productid}}">
                                                <i class="fas fa-shopping-cart"></i>
                                            </button>
                                            <button class="btn-flat btn-hover btn-wishlít-add" value="{{productid}}">
                                                <i class="fas fa-heart"></i>
                                            </button>
                                        </div>
                                        <div class="product-card-name">
                                            {{productname}}
                                        </div>
                                        <div class="product-card-price">
                                            {{!-- <span><del>$${e.old_price}</del></span> --}}
                                            <span class="curr-price">${{price}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{else}}
                            <p>No products available</p>
                            {{/each}}
                            <div class="box">
                                <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                                    <div class="box">
                                        <ul class="pagination">
                                            <li class="page-item previous" id="dataTable_previous">
                                                <a href="" aria-controls="dataTable" data-page="{{sub currentPage 1}}"
                                                    tabindex="0" class="page-link"><i data-page="{{sub currentPage 1}}"
                                                        tabindex="0" class="fas fa-less-than"></i></a>
                                            </li>
                                            {{#paginate totalPages totalItems currentPage}}
                                            {{#each .}}
                                            <li class="page-item page"><a href="" aria-controls="dataTable"
                                                    data-page="{{sum this 1}}" tabindex="0" class="page-link">{{sum this
                                                    1}}</a>
                                            </li>
                                            {{/each}}
                                            {{/paginate}}

                                            <li class="page-item next" id="dataTable_next">
                                                <a href="" aria-controls="dataTable" data-page="{{sum currentPage 1}}"
                                                    tabindex="0" class="page-link"><i data-page="{{sum currentPage 1}}"
                                                        tabindex="0" class="fas fa-greater-than"></i></a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/custom.js"></script>

<script>
    // Basic example
    //$(document).ready(function () {
    //    $('#dtBasicExample').DataTable({
    //        "paging": true, // false to disable pagination (or any other option)
    //        "searching": true
    //    });
    //    $('.dataTables_length').addClass('bs-select');
    //});

    $(document).on("keyup", "#search-box", function () {
        let data = $(this).val();
        // console.log("Data input: " + data);
        $.ajax({
            async: false,
            type: "POST",
            url: "../products/search",
            contentType: "application/x-www-form-urlencoded",
            datatype: "html",
            data: { data: data },
            success: function (response) {
                // console.log(response);
                $('#products').replaceWith(response);
            },
            error: function (response) {
                console.log(response);
            }
        });
    });


    $(document).on("click", "#filter-products", function () {
        let price_start = parseFloat(document.querySelector('.price-range-start').value);
        let price_end = parseFloat(document.querySelector('.price-range-end').value);
        const color = document.querySelector('input[type="radio"]:checked').value;

        if (price_start < 0 && price_end < 0) {
            price_start = 0;
            price_end = 0;
        }
        if (price_end < price_start) {
            price_end = price_start;
        }
        $.ajax({
            async: false,
            type: "POST",
            url: "../products/filter",
            contentType: "application/x-www-form-urlencoded",
            datatype: "html",
            data: { color, price_start, price_end },
            success: function (response) {
                console.log(response);
                $('#products').replaceWith(response);
            },
            error: function (response) {
                console.log(response);
            }
        });
    });

    updatePaginate({{ totalPages }}, {{ currentPage }});
    updateSelectSize({{ totalPages }}, {{ totalItems }});
</script>


<!-- end products content -->