<!-- products content -->
<div class="bg-main">
    <div class="container">
        <div class="box">
            <div class="breadcumb">
                <a href="/">home</a>
                <span><i class="fas fa-angle-double-right"></i></span>
                <a href="/products">all products</a>
            </div>
        </div>
        <div class="box">
            <div class="row">
                <div class="col-xl-3 filter-col" id="filter-col">
                    <form action="/products/filter">

                        <div class="box filter-toggle-box">
                            <button class="btn-flat btn-hover" id="filter-close">close</button>
                        </div>
                        {{!-- <div class="box">
                            <span class="filter-header">
                                Categories
                            </span>
                            <ul class="filter-list">
                                <li><a href="?brand=nike">Nike</a></li>
                                <li><a href="?brand=adidas">Adidas</a></li>
                                <li><a href="?brand=ananas">Ananas</a></li>
                                <li><a href="?brand=balenciaga">Balenciaga</a></li>
                            </ul>
                        </div> --}}
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Search..." name="name">
                        </div>
                        <div class="box">
                            <span class="filter-header">
                                Price
                            </span>
                            <div class="price-range">
                                <input type="text" class="price-range-start" value="0" name="price_start">
                                <span>-</span>
                                <input type="text" class="price-range-end" value="1000" name="price_end">
                            </div>
                        </div>
                       
                        <div class="box">
                             <span class="filter-header">
                                Brands
                            </span>
                            <div class="form-check mt-4">
                                <input class="form-check-input" type="radio" value="Nike" id="Nike" name="brand">
                                <label class="form-check-label" for="Nike">
                                   Nike
                                </label>
                            </div>
                            <div class="form-check mt-4">
                                <input class="form-check-input" type="radio" value="Adidas" id="Adidas" name="brand">
                                <label class="form-check-label" for="Adidas">
                                    Adidas
                                </label>
                            </div>
                            <div class="form-check mt-4">
                                <input class="form-check-input" type="radio" value="Ananas" id="Ananas" name="brand">
                                <label class="form-check-label" for="Ananas">
                                    Ananas
                                </label>
                            </div>
                            <div class="form-check mt-4">
                                <input class="form-check-input" type="radio" value="Fila" id="Fila" name="brand">
                                <label class="form-check-label" for="Fila">
                                    Fila
                                </label>
                            </div>
                            <div class="form-check mt-4">
                                <input class="form-check-input" type="radio" value="Balenciaga" id="Balenciaga" name="brand">
                                <label class="form-check-label" for="Balenciaga">
                                    Balenciaga
                                </label>
                            </div>
                            <div class="form-check mt-4">
                                <input class="form-check-input" type="radio" id="all-brand" name="brand" value="" checked>
                                <label class="form-check-label" for="all-brand">
                                    All
                                </label>
                            </div>
                        </div>
                        <div class="box">
                            <span class="filter-header">
                                Colors
                            </span>
                            <ul class="filter-list">
                                <li>
                                    <div class="group-radio">
                                        <input type="radio" value="red" id="box-red" name="color">
                                        <label for="box-red">
                                            Red
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="group-radio">
                                        <input type="radio" value="blue" id="box-blue" name="color">
                                        <label for="box-blue">
                                            Blue
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="group-radio">
                                        <input type="radio" value="white" id="box-white" name="color">
                                        <label for="box-white">
                                            White
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="group-radio">
                                        <input type="radio" value="black" id="box-black" name="color">
                                        <label for="box-black">
                                            Black
                                        </label </div>
                                </li>
                                <li>
                                    <div class="group-radio">
                                        <input type="radio" value="green" id="box-green" name="color">
                                        <label for="box-green">
                                            Green
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="group-radio">
                                        <input type="radio" value="" id="box-all" name="color" checked>
                                        <label for="box-all">
                                            All
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="box">
                            <select class="form-select" aria-label="Default select example" name="sortByPrice">
                                <option selected value="">Sắp xếp theo giá</option>
                                <option value="ASC">Tăng dần</option>
                                <option value="DESC">Giảm dần</option>
                            </select>
                        </div>
                        <button id="filter-products" type="submit" class="btn btn-secondary ms-4">Filter</button>
                    </form>
                </div>
                <div class="col-xl-9 col-lg-12" id="products-content">
                    <div class="box filter-toggle-box">
                        <button class="btn-flat btn-hover" id="filter-toggle">filter</button>
                    </div>
                    <div class="box">
                        <div class="row gx-4 gy-4" id="products">
                            {{#if user}}
                            {{#each products}}
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="product-card">
                                    <div class="product-card-img">
                                        <img src="{{image.[0]}}" alt="">
                                        <img src="{{image.[1]}}" alt="">
                                    </div>
                                    <div class="product-card-info">
                                        <div class="product-btn">
                                            <a href="/products/{{productid}}"
                                                class="btn-flat btn-hover btn-shop-now">shop
                                                now</a>
                                            <button class="btn-flat btn-hover btn-cart-add" value="{{productid}}">
                                                <i class="fas fa-shopping-cart"></i>
                                            </button>
                                            <button class="btn-flat btn-hover btn-wishlist-add" value="{{productid}}">
                                                {{#if this.isLike}}
                                                <i class="heart-icon like"></i>
                                                {{else}}
                                                <i class="heart-icon"></i>
                                                {{/if}}
                                            </button>
                                        </div>
                                        <div class="product-card-name">
                                            {{productname}}
                                        </div>
                                        <div class="product-card-price">
                                            <span class="curr-price">${{price}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                            {{else}}
                            {{#each products}}
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="product-card">
                                    <div class="product-card-img">
                                        <img src="{{image.[0]}}" alt="">
                                        <img src="{{image.[1]}}" alt="">
                                    </div>
                                    <div class="product-card-info">
                                        <div class="product-btn">
                                            <a href="/products/{{productid}}"
                                                class="btn-flat btn-hover btn-shop-now">shop
                                                now</a>
                                            <button class="btn-flat btn-hover btn-cart-add" value="{{productid}}">
                                                <i class="fas fa-shopping-cart"></i>
                                            </button>
                                        </div>
                                        <div class="product-card-name">
                                            {{productname}}
                                        </div>
                                        <div class="product-card-price">
                                            <span class="curr-price">${{price}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                            {{/if}}
                            <div class="box">
                                <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                                    <div class="box">
                                        <ul class="pagination">
                                            <li class="page-item previous" id="dataTable_previous">
                                                <a href="" aria-controls="dataTable" data-page="{{sub currentPage 1}}"
                                                    tabindex="0" class="page-link"><i data-page="{{sub currentPage 1}}"
                                                        tabindex="0" class="fas fa-less-than"></i></a>
                                            </li>
                                            {{#paginate totalPages totalItems currentPage}}
                                            {{#each .}}
                                            <li class="page-item page"><a href="" aria-controls="dataTable"
                                                    data-page="{{sum this 1}}" tabindex="0" class="page-link">{{sum this
                                                    1}}</a>
                                            </li>
                                            {{/each}}
                                            {{/paginate}}

                                            <li class="page-item next" id="dataTable_next">
                                                <a href="" aria-controls="dataTable" data-page="{{sum currentPage 1}}"
                                                    tabindex="0" class="page-link"><i data-page="{{sum currentPage 1}}"
                                                        tabindex="0" class="fas fa-greater-than"></i></a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/products.js"></script>

<script>
    // Basic example
    //$(document).ready(function () {
    //    $('#dtBasicExample').DataTable({
    //        "paging": true, // false to disable pagination (or any other option)
    //        "searching": true
    //    });
    //    $('.dataTables_length').addClass('bs-select');
    //});

    /*$(document).on("keyup", "#search-box", function () {
        let data = $(this).val();
        // console.log("Data input: " + data);
        $.ajax({
            async: false,
            type: "POST",
            url: "../products/search",
            contentType: "application/x-www-form-urlencoded",
            datatype: "html",
            data: { data: data },
            success: function (response) {
                // console.log(response);
                $('#products').replaceWith(response);
            },
            error: function (response) {
                console.log(response);
            }
        });
    });*/


    /*$(document).on("click", "#filter-products", function () {
        let price_start = parseFloat(document.querySelector('.price-range-start').value);
        let price_end = parseFloat(document.querySelector('.price-range-end').value);
        const color = document.querySelector('input[type="radio"]:checked').value;

        if (price_start < 0 && price_end < 0) {
            price_start = 0;
            price_end = 0;
        }
        if (price_end < price_start) {
            price_end = price_start;
        }
        $.ajax({
            async: false,
            type: "POST",
            url: "../products/filter",
            contentType: "application/x-www-form-urlencoded",
            datatype: "html",
            data: { color, price_start, price_end },
            success: function (response) {
                console.log(response);
                $('#products').replaceWith(response);
            },
            error: function (response) {
                console.log(response);
            }
        });
    });*/

    updatePaginate({{ totalPages }}, {{ currentPage }});
    updateSelectSize({{ totalPages }}, {{ totalItems }});
</script>

<!-- end products content -->
