<!-- product-detail content -->
<div class="bg-main">
    <div class="container">
        <div class="box">
            <div class="breadcumb">
                <a href="/">home</a>
                <span><i class="fas fa-angle-double-right"></i></span>
                <a href="/products">all products</a>
                <span><i class="fas fa-angle-double-right"></i></span>
                <a href="#">{{productDetail.productname}}</a>
            </div>
        </div>
        <div class="row product-row">
            <div class="col-lg-5 col-md-12">
                <div class="product-img" id="product-img">
                    <img src="{{productDetail.image.[0]}}" alt="">
                </div>
                <div class="box">
                    <div class="product-img-list">
                        <div class="product-img-item">
                            <img src="{{productDetail.image.[0]}}" alt="">
                        </div>
                        <div class="product-img-item">
                            <img src="{{productDetail.image.[1]}}" alt="">
                        </div>
                        <div class="product-img-item">
                            <img src="{{productDetail.image.[2]}}" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="product-info">
                    <h1>
                        {{productDetail.productname}}
                    </h1>
                    <div class="product-info-detail">
                        <span class="product-info-detail-title">Brand:</span>
                        <a href="#">JBL</a>
                    </div>
                    <div class="product-info-detail">
                        <span class="product-info-detail-title">Rated:</span>
                        <span class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </span>
                    </div>
                    <p class="product-description">
                        {{productDetail.description}}
                    </p>
                    <div class="product-info-price">${{productDetail.price}}</div>
                    <div class="product-quantity-wrapper">
                        <span class="product-quantity-btn">
                            <i class="fas fa-minus"></i>
                        </span>
                        <span class="product-quantity" data-count="1">1</span>
                        <span class="product-quantity-btn">
                            <i class="fas fa-plus"></i>
                        </span>
                    </div>
                    <div class="product-info-shoesize d-flex flex-row">
                        {{#each shoesize}}
                        <div class="button-labels" index="{{@index}}">
                            <input class="shoesize-radio" type="radio" id="shoesize-{{this.size}}-checkbox" name="size"
                                value="{{this.size}}">
                            <label class="shoesize-box" for="shoesize-{{this.size}}-checkbox">{{this.size}}</label>
                        </div>
                        {{/each}}
                    </div>
                    {{#each shoesize}}
                    <div class="shoesize-stock" index="{{@index}}">Only {{this.amount}} left.</div>
                    {{/each}}
                    <div>
                        <button class="btn-flat btn-hover btn-cart-add" data-bs-toggle="modal" data-bs-target="#cart-add-modal"
                            value="{{productDetail.productid}}">add to
                            cart</button>
                        <div class="modal fade" id="cart-add-modal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Thanks you!</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Successfully added to cart (*￣3￣)╭
                                    </div>
                                    {{!-- <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div> --}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="box-header">
                description
            </div>
            <div class="product-detail-description">
                <button class="btn-flat btn-hover btn-view-description" id="view-all-description">
                    view all
                </button>
                <div class="product-detail-description-content">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit laudantium obcaecati odit
                        dolorem, doloremque accusamus esse neque ipsa dignissimos saepe quisquam tempore perferendis
                        deserunt sapiente! Recusandae illum totam earum ratione.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam incidunt maxime rerum
                        reprehenderit voluptas asperiores ipsam quas consequuntur maiores, at odit obcaecati vero sunt!
                        Reiciendis aperiam perferendis consequuntur odio quas. Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Ut quaerat eum veniam doloremque nihil repudiandae odio ratione culpa libero
                        tempora. Expedita, quo molestias. Minus illo quis dignissimos aliquid sapiente error!
                    </p>
                    <img src="{{productDetail.image.[1]}}" alt="">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis accusantium officia, quae fuga in
                        exercitationem aliquam labore ex doloribus repellendus beatae facilis ipsam. Veritatis vero
                        obcaecati iste atque aspernatur ducimus.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat quam praesentium id sit amet
                        magnam ad, dolorum, cumque iste optio itaque expedita eius similique, ab adipisci dicta. Quod,
                        quibusdam quas. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, in corrupti ipsam
                        sint error possimus commodi incidunt suscipit sit voluptatum quibusdam enim eligendi animi
                        deserunt recusandae earum natus voluptas blanditiis?
                    </p>
                    <img src="{{productDetail.image.[0]}}" alt="">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi ullam quam fugit veniam ipsum
                        recusandae incidunt, ex ratione, magnam labore ad tenetur officia! In, totam. Molestias sapiente
                        deserunt animi porro?
                    </p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="box-header">
                review
            </div>

            <div>
                <div class="user-rate">
                    <div class="user-info">
                        <div class="user-avt">
                            <img src="/images/t1.jpg" alt="">
                        </div>
                        <div class="user-name">
                            <span class="name">User name</span>
                            <span class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </span>
                        </div>
                    </div>
                    <div class="user-rate-content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio ea iste, veritatis nobis
                        amet illum, cum alias magni dolores odio, eius quo excepturi veniam ipsa voluptatibus natus
                        voluptas vero? Aspernatur!
                    </div>
                </div>
                <div class="user-rate">
                    <div class="user-info">
                        <div class="user-avt">
                            <img src="/images/t2.jpg" alt="">
                        </div>
                        <div class="user-name">
                            <span class="name">User name</span>
                            <span class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </span>
                        </div>
                    </div>
                    <div class="user-rate-content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio ea iste, veritatis nobis
                        amet illum, cum alias magni dolores odio, eius quo excepturi veniam ipsa voluptatibus natus
                        voluptas vero? Aspernatur!
                    </div>
                </div>
                <div class="user-rate">
                    <div class="user-info">
                        <div class="user-avt">
                            <img src="/images/t3.jpg" alt="">
                        </div>
                        <div class="user-name">
                            <span class="name">User name</span>
                            <span class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </span>
                        </div>
                    </div>
                    <div class="user-rate-content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio ea iste, veritatis nobis
                        amet illum, cum alias magni dolores odio, eius quo excepturi veniam ipsa voluptatibus natus
                        voluptas vero? Aspernatur!
                    </div>
                </div>
                {{#if user}}
                <div class="mt-5 form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                    <label for="floatingTextarea">Comments</label>
                </div>
                {{else}}
                <div class="mt-5 text-info">
                    <a href="/login">Login</a> to leave a comment.
                    {{/if}}
                </div>
            </div>
            <div class="box">
                <div class="box-header">
                    related products
                </div>
                <div class="row" id="related-products">
                    {{#each relatedProd }}
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="product-card">
                            <div class="product-card-img">
                                <img src="{{image.[0]}}" alt="">
                                <img src="{{image.[1]}}" alt="">
                            </div>
                            <div class="product-card-info">
                                <div class="product-btn">
                                    <a href="./product-detail" class="btn-flat btn-hover btn-shop-now">shop now</a>
                                    <button class="btn-flat btn-hover btn-cart-add" value="{{productid}}">
                                        <i class="fas fa-shopping-cart"></i>
                                    </button>
                                    <button class="btn-flat btn-hover btn-wishlít-add" value="{{productid}}">
                                        <i class="fas fa-heart"></i>
                                    </button>
                                </div>
                                <div class="product-card-name">
                                    {{productname}}
                                </div>
                                <div class="product-card-price">
                                    {{!-- <span><del>$300</del></span> --}}
                                    <span class="curr-price">${{price}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{else}}
                    <p>No products found</p>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <!-- end product-detail content -->
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/product-detail.js"></script>